PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-12-11 17:21:12.328526');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-12-11 17:21:12.348610');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-12-11 17:21:12.366783');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0));
INSERT INTO django_admin_log VALUES(1,'2024-12-11 17:44:40.774025','1','Affirmation object (1)','[{"added": {}}]',9,1,1);
INSERT INTO django_admin_log VALUES(2,'2024-12-11 17:44:53.755225','2','Affirmation object (2)','[{"added": {}}]',9,1,1);
INSERT INTO django_admin_log VALUES(3,'2024-12-11 17:45:03.722072','3','Affirmation object (3)','[{"added": {}}]',9,1,1);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$260000$HDh41GK6Wo23iqhO4qdLjK$KMadTTrtBBq0E81tNjSOSPktR9JIkMZ4HNuAsxyqNPg=','2024-12-11 17:29:02.471615',1,'annapoorna','','apk2002kmr@gmail.com',1,1,'2024-12-11 17:27:39.955194','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('3xpmkvyfc4f7v3nvbe8abqfiwtsy4sp6','.eJxVjEEOwiAQRe_C2hCZKVRcuvcMZGAGqRpISrsy3l2bdKHb_977LxVoXUpYu8xhYnVWRh1-t0jpIXUDfKd6azq1usxT1Juid9r1tbE8L7v7d1Col2_tKUZrBycZ2LM1VgyQPUaXBUdkAy77KIIZkqchj5IRjOUhOToBIqr3B_fmODI:1tLQWE:QBcyOfm5RHIAfeOxOOxZPv7-FdRRgfL6zL6iPdAW1-Q','2024-12-25 17:29:02.478589');
CREATE TABLE IF NOT EXISTS "main_affirmation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "text" text NOT NULL, mood_id INTEGER);
INSERT INTO main_affirmation VALUES(1,'ΓÇ£Once youΓÇÖve accepted your flaws, no one can use them against you.ΓÇ¥ - George R.R. Martin',1);
INSERT INTO main_affirmation VALUES(2,'"Be happy with what you have. Be excited about what you want."  -  Alan Cohen',1);
INSERT INTO main_affirmation VALUES(3,'"Happiness can be found even in the darkest of times if only someone remembers to turn on the light." - Dumbledore',1);
CREATE TABLE IF NOT EXISTS "main_dailychallenge" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "task" text NOT NULL, "completed" bool NOT NULL, "created_at" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "main_journalingprompt" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "text" text NOT NULL, mood_id INTEGER);
INSERT INTO main_journalingprompt VALUES(1,'Do you think happiness depends on materialistic things, or is it about something deeper?',1);
INSERT INTO main_journalingprompt VALUES(2,'If you could become another person for a day, who would you choose, and why?',1);
INSERT INTO main_journalingprompt VALUES(3,'Is there anything that you want to spill out today, something youΓÇÖve been holding inside?',1);
CREATE TABLE IF NOT EXISTS "main_mood" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "emotion" varchar(50) NOT NULL, "reason" text NULL, "notes" text NULL, "created_at" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO main_mood VALUES(1,'Happy',NULL,NULL,'2024-12-11 18:03:28.756487',1);
INSERT INTO main_mood VALUES(2,'Sad',NULL,NULL,'2024-12-11 18:03:28.767820',1);
INSERT INTO main_mood VALUES(3,'Neutral',NULL,NULL,'2024-12-11 18:03:28.775224',1);
CREATE TABLE IF NOT EXISTS "main_recommendation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "text" text NOT NULL, mood_id INTEGER);
INSERT INTO main_recommendation VALUES(1,'Go see a movie ΓÇô treat yourself to a feel-good film!',1);
INSERT INTO main_recommendation VALUES(2,'Looks like the beach is beautiful, wanna go visit? Feel the sun and enjoy the moment.',1);
INSERT INTO main_recommendation VALUES(3,'Try doodling or sketching ΓÇô get creative and have fun with it!',1);
CREATE TABLE IF NOT EXISTS "main_userprofile" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "full_name" varchar(100) NOT NULL, "email" varchar(254) NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "main_goal" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "custom_goal" text NULL, "name" varchar(100) NOT NULL);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',20);
INSERT INTO sqlite_sequence VALUES('django_admin_log',60);
INSERT INTO sqlite_sequence VALUES('django_content_type',14);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "main_dailychallenge_user_id_6b5e52a9" ON "main_dailychallenge" ("user_id");
CREATE INDEX "main_mood_user_id_02577789" ON "main_mood" ("user_id");
CREATE INDEX "main_goal_user_id_e378f8d2" ON "main_goal" ("user_id");
COMMIT;
